#hourly-forecasts,
#daily-forecasts {
  overflow-x: scroll;
  flex-wrap: nowrap;
  scrollbar-width: none;
  border-radius: 25px;
}

[data-bg-img="wrapper-bg"] {
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#wrapper-name,
#wrapper-description,
#wrapper-temp,
.wrapper-humidity,
.wrapper-wind-speed,
.hour,
.hourly-temp {
  filter: drop-shadow(3px 0px 1px #333);
}

.current-weather-img {
  filter: drop-shadow(3px 0px 0px #fff);
}

.daily-weather-img {
  filter: drop-shadow(3px 0px 0px #333);
}
